*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: green;
}
h1{
    display: flex;
    background: #5EE6EB;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.div{
    overflow-y: auto;
    background: #ABB2B9 ;
    border: 2px solid red;
    height: 100%;
    width: 29%;
    display: block;
    position: absolute;
    padding: 15px;
    padding-left: 10px;
    list-style-position: inside;
}
.div-2{
    overflow: auto;
    display: block;
    position: absolute;
    background: #82E0AA ;
    border:2px solid blue;
    height: 100%;
    width: 70%;
    left: 30%;
    padding: 15px;
}
#border{
    border-bottom: 3px solid yellow;
}
ul {
    height: 500px;
}
p {
    padding-top: 10px;
}
h2 {
    padding-top: 10px;
}
h3 {
    padding-top: 10px;
}
li {
    padding-top: 10px;
}
img {
    padding-top: 10px;
}